# Define wildcards used for building trees in the workflow, also used in the intermediate files or auxillariary default file names.
# {builds} represents different analysis, in this case geographic scope
builds: ["north-america","global"]

inputs:
  - name: ncbi
    sequences: "https://data.nextstrain.org/files/workflows/mumps/sequences.fasta.zst"
    metadata: "https://data.nextstrain.org/files/workflows/mumps/metadata.tsv.zst"

strain_id_field: "accession"
reference: "reference.gb"

filter:
  min_length: 8000
  group_by: country year month MuV_genotype division
  exclude: "{build}/exclude.txt"
  include: "{build}/include.txt"
  specific:
    north-america: --subsample-max-sequences 4000 --min-date 2006 --query "region=='North America' & (MuV_genotype=='G')"
    global: --subsample-max-sequences 4000 --min-date 1950

refine:
  north-america: "--clock-filter-iqd 4"
  global: ""

ancestral:
  inference: "joint"
  root_sequence: "reference.gb"

traits:
  north-america: country division MuV_genotype MuV_genotype_nextclade_sh MuV_genotype_nextclade_genome
  global: region MuV_genotype MuV_genotype_nextclade_sh MuV_genotype_nextclade_genome
  sampling_bias_correction: 3

colors:
  color_schemes: "color_schemes.tsv"
  color_orderings: "color_orderings.tsv"

export:
  lat_longs: "lat_longs.tsv"
  auspice_config: "{build}/auspice_config.json"
  description: "description.md"

tip_frequencies:
  # 2006 since there is an increase in mumps samples at that time
  min_date: "2006-01-01"
  max_date: "12M"
  # Quarterly narrow_bandwidth or every 3 months (3 /12.0 = 0.25)
  narrow_bandwidth: 0.25
  proportion_wide: 0.0